# Environment
.env
.env.local

# Node Modules
node_modules/
frontend/node_modules/

# Build Files
dist/
frontend/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Vite
.vite/

# IDE
.vscode/
.idea/

# Misc
*.local